.mItems-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .main-title {
        font-family: 'Barlow' sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: #FFFFFF;

    }

    .selector {
        background: #1F1D2B;
        border: 1px solid #393C49;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: 'Barlow' sans-serif;
        padding: 15px 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #FFFFFF;
    }
}