



.rsi-top-title {
    font-family: 'Barlow' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

.rsi-selecter {
    border: 1px solid #393C49;
    box-sizing: border-box;
    filter: drop-shadow(0px 8px 24px rgba(146, 136, 224, 0.3));
    border-radius: 8px;
    color: #FFFFFF;
    padding: 14px 16px;
}

.rsi-link {
    font-family: 'Barlow' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
}

.rsi-link:hover {
    color: #EA7C69;
    border-bottom: 1px solid #EA7C69;
}