.leftSide-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    background: #1F1D2B;
    height: 100vh;
    width: 460px;

    .leftSide-inner {
        padding: 20px;

        .forBottom {
            margin-top: 150px;
            overflow-y: scroll;
            max-height: 500px;

            
           
        }

        ::-webkit-scrollbar {
            width: 0px;
        }
    }
}