.rb-wrapper {
    background: #1F1D2B;
    border-radius: 8px;
    margin-top: 4px;
    box-sizing: border-box;
}

.bar-img-left {
    padding: 12px 12px 10px 12px;
    
}

.br-bt-wrapper {
    display: flex;
    align-items: center;
    
    
}

.br-bt-wrapper2 {

}